<div class="admin_marketingReport row">
    {{!-- 行銷專案清單區 --}}
    <div class="marketing_projects">
        <table>
            <thead></thead>
            <tbody></tbody>
        </table>
    </div>
    {{!-- 行銷專案_報表區 --}}
    <div class="projects_report">
        {{!-- 銷售前十名產品報表 --}}
        <div class="top10_product"></div>
        {{!-- 專案_短網址報表 --}}
        <div class="shortUrl_list"></div>
        {{!-- 優惠卷_使用報表 --}}
        <div class="coupon_listt"></div>
    </div>
</div>