<div class="admin_traceCode row">
    {{!-- GA追蹤碼 --}}
    <div class="ga_traceCode">
        <div class="traceCode_description">
            <h3></h3>
            <p></p>
        </div>
        <div class="traceCode_input">
            <textarea name="" id="ga_traceCode" cols="30" rows="10"></textarea>
        </div>
    </div>
    {{!-- FB追蹤碼 --}}
    <div class="fb_traceCode">
        <div class="traceCode_description">
            <h3></h3>
            <p></p>
        </div>
        <div class="traceCode_input">
            <textarea name="" id="fb_traceCode" cols="30" rows="10"></textarea>
        </div>
    </div>
</div>