<div class="productmodel_editproduct row">
    {{!-- 編輯按鈕區 --}}
    <div class="edit_btns">
        <p></p>
        <div class="confirm_btns"></div>
    </div>
    {{!-- 產品編輯表單 --}}
    <form action="" class="edit_form">
        {{!-- 分頁-上傳照片 --}}
        <div class="product_img">
            {{!-- 照片預覽區 --}}
            <div class="img_preview">
                {{!-- 照片預覽項目 --}}
                <div class="img_item">
                    <img src="" alt="">
                    <a href="">delete</a>
                </div>
            </div>
        </div>
        {{!-- 分頁-編輯產品內文 --}}
        <div class="product_descripton">
            <div class="product_title">
                <input type="text" name="" id="">
            </div>
            <div class="product_description">
                <textarea name="" id="" cols="30" rows="10"></textarea>
            </div>
        </div>
        {{!-- 分頁-數量價格 --}}
        <div class="product_count_price">
            {{!-- 產品建議售價 --}}
            <div class="form_control price">
                <label for=""></label>
                <input type="text">
            </div>
            {{!-- 產品打折售價 --}}
            <div class="form_control discount_price">
                <label for=""></label>
                <input type="text">
            </div>
            {{!-- 產品存貨 --}}
            <div class="form_control product_amount">
                <label for=""></label>
                <input type="text">
            </div>
        </div>
    </form>
</div>