<div class="productmodel_products row">
    {{!-- 提示訊息 --}}
    <div class="message"></div>
    {{!-- 產品總攬 --}}
    <div class="productsTable">
        {{!-- 篩選器 --}}
        <div class="function_bar">
            <div class="filter_btns"></div>
            <div class="search_bar"></div>
        </div>
        {{!-- 產品清單 --}}
        <div class="products_table"></div>
        {{!-- 分頁按鈕 --}}
        <div class="page"></div>
    </div>
</div>