<div class="salemodel_product_analytic row">
    {{!-- 訂單狀態_數字板 --}}
    <div class="order_status col-12">
        <div class="item">
            <h3></h3>
            <p></p>
        </div>
    </div>
    {{!-- 訂單狀態_圖表區 --}}
    <div class="order_charts col-12">
        {{!-- 訂單營收長條圖 --}}
        <div id="order_revenue_barChart col-12"></div>
        {{!-- 新單長條圖 --}}
        <div id="order_new_barChart col-6"></div>
        {{!-- 訂單出貨長條圖 --}}
        <div id="order_shipment_barChart col-6"></div>
        {{!-- 訂單取消長條圖 --}}
        <div id="order_cancel_barChart col-6"></div>
        {{!-- 訂單退貨長條圖 --}}
        <div id="order_return_barChart col-6"></div>
    </div>
</div>