<div class="salemodel_flow_analytic row">
    {{!-- 圖表-日期期間群組 --}}
    <div class="time_btns"></div>
    {{!-- 流量分析-圖表區 --}}
    <div class="flow_charts">
        {{!-- 流量長條圖 --}}
        <div id="flow_barChart col-12"></div>
        {{!-- 裝置圓餅圖 --}}
        <div id="device_pieChart col-6"></div>
        {{!-- 瀏覽器圓餅圖 --}}
        <div id="browser_pieChart col-6"></div>
        {{!-- 前六多_熱門點擊商品 --}}
        <div class="click_hot6_products col-12">
            <div class="hot_item">
                <a href="">
                    <img src="" alt="">
                    <p class="count"></p>
                </a>
            </div>
        </div>
    </div>
</div>