{{!-- 編輯按鈕區 --}}
<div class="card edit_btns my-3">
    <div class="card-body">
        <p>填寫商品資料後，按下「增加」或「更新」儲存您的設定。</p>
        <div class="confirm_btns float-right">
            {{#if product}}
            <button class="btn btn-sm btn-primary " type="submit">更新產品</button>
            {{else}}
            <button class="btn btn-sm btn-primary " type="submit">新增產品</button>
            {{/if}}

        </div>
    </div>
</div>