NODE_ENV=
FACEBOOK_ID=493655574732426
FACEBOOK_SECRET=8478cbda7977671fca9e8009e7e28cdc
FACEBOOK_CALLBACK=http://localhost:3000/auth/facebook/callback
JWT_SECRET=waterman
GMAIL_CLIENT_ID=630494164248-3keqlqrcre4avdf6kafoo842d87pomqn.apps.googleusercontent.com
GMAIL_CLIENT_SECRET =T7ZUc0y7J0Mizg0ruyN57wLF
GOOGLE_REDIRECT_URL =https://developers.google.com/oauthplayground A
AUTH_REFRESH_TOKEN =1/CeEy875d8qObf0p4HfL9Oz69rLt9sYRYF_YbSlad3po
URL=
MERCHANT_ID=MS33418458
HASH_KEY=DEOViIHoxZRzElSe9p14KFa8k4vx7Tfv
HASH_IV=nIxiaIldrOFR4JPe
