NODE_ENV=
FACEBOOK_ID=493655574732426
FACEBOOK_SECRET=8478cbda7977671fca9e8009e7e28cdc
FACEBOOK_CALLBACK=http://localhost:3000/auth/facebook/callback
JWT_SECRET=waterman
GMAIL_CLIENT_ID=1007885966092
GMAIL_CLIENT_SECRET =RSG7NHnsuyxOrrXmJxJCOD4F
GOOGLE_REDIRECT_URL =https://developers.google.com/oauthplayground A
AUTH_REFRESH_TOKEN =1/cVXByRRq1_C6QNlsDGcgP1K0NNVTHzMBAzk-FusCKac

URL=
MERCHANT_ID=MS33418458
HASH_KEY=DEOViIHoxZRzElSe9p14KFa8k4vx7Tfv
HASH_IV=nIxiaIldrOFR4JPe
