<div class="container">

  <form action="/checkCoupon" method='POST'>
    {{#if coupon}}
    <h2>你可以折抵: {{coupon.discount}} 元</h2>
    <div class="row mt-5 d-flex justify-content-between">
      <a class="btn btn-primary" href="/couponOrder/{{coupon.id}}">結帳</a>
      <a href="back" class="btn btn-warning">返回購物車</a>
    </div>
    {{else}}
    <div class="form-group">
      <h1>輸入你的coupon序號</h1>
      <input type="text" class="form-control" name='couponCode'>
    </div>
    <div class="form-group d-flex justify-content-between">

      <button type="submit" class="btn btn-primary">Submit</button>
      <a href="back" class="btn btn-warning">返回購物車</a>
    </div>

    {{/if}}


  </form>

</div>