<div class="container">
  <form action="/forget" method="POST">
    <h1>忘記密碼??</h1>
    <div class="form-group">
      <label>輸入你的信箱</label>
      <input type="email" class="form-control" placeholder="Enter email" name="email">
      <small class="form-text text-muted">我們將會寄信給你，來生成新密碼</small>
    </div>
    <button type="submit" class='btn btn-primary'>產生新密碼</button>
  </form>
</div>