#logo, .navbar-brand, .navbar-title{
  font-family: 'Pacifico','Noto Sans TC', sans-serif;
  color: black;
}

body, p, a, h5, small {
  font-family: 'DFKai-sb';
}

.navbar-title {
  margin-left: 100px;
  font-size: 25px;
}

.nav-logo {
  color: #0085a5;
}

.productName, .categoryName {
  color: black;
}

.shop-setting {
  height: 40px;
}

hr {
  margin-top: 20px;
  margin-bottom: 20px;
  border: 0;
  border-top: 1px solid #0085a5;
}

small {
  color: gray;
}

.card-title, .price, .help-block {
  font-family: 微軟正黑體, Arial;
}

/* ===== :hover ===== */
.nav-logo:hover {
  background-color: #3AC4E2;
  color: white;
}

.card:hover {
  box-shadow: 0 16px 22px 0 rgba(90, 91, 95, 0.3);
  top: -5px;
}

.list-group-item:hover, .list-group-item:hover small {
  color: white;
  background-color: #0085a5;
}

/* ===== pagination ===== */
.pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.page-link, .page-link span {
  color: #0085a5;
}

.page-link:hover, .page-link:hover span{
  color: white;
  background-color: #0085a5;
}

/* ===== a: active display===== */
.page-link:active, .list-group-item:active {
  background-color: #0085a5;
}

/* ====== product.handlebars-display star ===== */
.star {
  position: relative;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

.stars {
  display: inline-block;
  width: 50%;
  height: 25px;
  vertical-align: middle;
}

.stars, .star, i.fa-star-gray {
  color: #cbcbcb;
}

.stars, .star, i.fa-star-yellow {
  color: #fcb040;
}

.star > .fa {
  font-size: 25px;
}

.percent-star {
  overflow: hidden;
  position: absolute;
  left: 0;
  top: 0;
}

.detail-starts .fa {
  font-size: 20px;
}

/* ===== product.handlebars-rating star ===== */
.starrating > input {
  display: none;
}

.starrating > label:before { 
  content: "\f005";
  margin: 2px;
  font-size: 30px;
  font-family: FontAwesome;
  display: inline-block;
}

.starrating > label {
  color: #cbcbcb;
}

.starrating > input:checked ~ label { 
  color: #ffca08 ; 
} 

.starrating > input:hover ~ label { 
  color: #ffca08 ;  
}

/* ===== main.handlebars-search ===== */
.searchBtn {
  border-color: #00B2DA;
  margin: 0 5px;
  background-color: #3AC4E2;
  color: white;
  font-size: 18px;
  border-radius: 5px;
  line-height: 30px;
  border-width: 2px;
  border-style: solid;
  cursor: pointer;
  padding: 3px;
}

/* ===== product.handlebars-select to quantity ===== */
.selectQty {
  text-align: center;
  padding: 5px;
  margin: 5px;
}

.qty {
  width: 50px;
  height: 30px;
  text-align: center;
  border: transparent;
  background-color: transparent;
}

input.qtyPlus, input.qtyMinus { 
  width: 33px; 
  height: 33px;
  background-color: transparent;
  border: 1px solid rgb(182, 178, 178);
  border-radius: 5px;
}

input.qtyPlus {
  font-family: FontAwesome;
}

input.qtyPlus:hover, input.qtyMinus:hover {
  cursor: pointer;
  background-color: rgb(87, 112, 167);
  transition: background-color .5s;
  color: white;
}

input.qtyPlus:active, input.qtyMinus:active {
  background-color: rgb(87, 112, 167);
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

/* =====The Modal (background)===== */ 
.modal { 
	display: none; 
	position: fixed; 
	z-index: 1; 
	padding-top: 100px; 
	left: 0; 
	top: 0; 
	width: 100%; 
	height: 100%; 
  overflow: auto; 
	background-color: rgb(0,0,0); 
	background-color: rgba(0,0,0,0.4);
} 

/* =====Modal Content===== */ 
.modal-content { 
	background-color: #fefefe; 
	margin: 0 auto; 
	padding: 20px; 
	border: 1px solid #888; 
  width: 30%;
}

/* The Close Button */ 
.close {
  color: #aaaaaa;
  font-size: 28px;
  font-weight: bold;
} 
	 
.close:hover, 
.close:focus { 
	color: #000; 
	text-decoration: none; 
	cursor: pointer; 
} 

/* =====footer===== */
footer {
  padding: 20px 0;
  text-align: center;
  background-color: #d2f0f5;;
  color: #0085a5;
}

.footer-content p {
  line-height: 22px;
}

.footer-social-icon a i {
  color: #0085a5;;
  display: inline-block;
  font-size: 20px;
  line-height: 20px;
  margin-right: 15px;
}

/* ====comments user image==== */
.avatar {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 50px;
  height: 50px;
  display: block;
  border-radius: 50%;
}

/* ==== search sort ====  */
.search-sort {
  font-weight: 400;
  background: rgba(0,0,0,.05);
  padding: .8125rem 1.25rem;
  border-radius: 2px;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -moz-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.search {
  background-color: white;
  color: #0085a5;
}

.search:hover {
  background-color: #0085a5;
  color: white;
}

.search-select, .search-select:hover {
  background-color: #0085a5;
  color: white;
}

/* ==== nav @media(992px) ==== */
.menu-button {
  display: none;
}

.menu-button-checkbox {
  display: none;
}

.logo {
  display: none;
}

.searchKeyword {
  width: 400px;
}

.content {
  font-size: 30px;  
}


@media screen and (max-width: 992px) {
  .cartIcon, .user, .login, .admin, .logout {
    display: none;
  }

  .menu-button {
    display: block;
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 25px;
    line-height: 40px;
    color: white;
    background: #3AC4E2;
    padding: 0 10px;
    border: 0;
    border-radius: 5px;
  }

  .menu-button-checkbox {
    display: block;
    position: absolute;
    top: 20px;
    right: 20px;
    width: 52px;
    height: 40px;
    margin: 0 -15px 0 0;
    opacity: 0;
  }

  .menu-button-checkbox:checked ~ .logo {
    display: block;
  }

  .logo {
    position: fixed;
    border: 1px solid rgb(190, 188, 188);
    top: 80px;
    right: 0;
    width: 20%;
    background-color: white;
  }

  .logo li {
    list-style-type: none;
  }

  .navbar-title {
    font-size: 20px;
  }

  .searchKeyword {
    width: 50%;
  }

  .searchBtn, .content, .list-group, #logo {
    font-size: 15px;
  }
}

/* =============== cartNotice ============== */
.cartNotice {
  position: absolute;
  border: 1px;
  border-color: #000000;
}

.cartBG {
  width: 80px;
  border-spacing: 0px;
  text-align: center;
  height: 44px;
  border: 1pt solid #CCCCCC;
  padding: 1px;
  font-family: Arial, Helvetica, sans-serif, "新細明體";
  border-collapse: separate;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  margin: 20px 0 5px 0;
}

.cartBG:hover {
  border: 1pt solid #0085a5;
  background-color: rgb(202, 245, 255);
}

.cartImage {
  text-align: center;
  vertical-align: bottom;
  border-bottom: 1px solid #ccc;
  padding: 0 0 8px 0;
  margin: 0;
}

.cartImage img {
  position: absolute;
  width: 100%;
  margin-top: -50px;
  background-color: transparent;
  -webkit-margin-start: 20px;
  left: -19px;
}