#logo {
  font-family: 'Pacifico','Noto Sans TC', sans-serif;
  color: black;
}

body {
  font-family: 'DFKai-sb';
}

.productName, .categoryName {
  color: black;
}

.shop-setting {
  height: 40px;
}